tiktoken
booktype
alembic
alphamini
asyncpg
boto3
botocore
dataclasses
email-validator
fastapi
google.generativeai
librosa
midas
numpy
opencv-python
openai-whisper
pillow
protobuf==3.20.3
psycopg2-binary
pydantic
pydub
python-dotenv
python-multipart
pytesseract
requests
soundfile
sqlalchemy[asyncio]
starlette
timm
torch
torchvision
ultralytics
uvicorn[standard]
whisper
torch
transformers
aiocache==0.11.1
aioredis==1.3.1
redis==3.5.3
hf_xet
tiktoken
ujson