fastapi
uvicorn[standard]
pydantic
opencv-python
pillow
pytesseract
pydub
python-dotenv
requests
librosa
numpy
soundfile
boto3
openai-whisper
protobuf==3.20.3
python-multipart
whisper
google.generativeai
email-validator
alphamini
starlette
botocore
dataclasses
ultralytics
torch
torchvision
timm
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
midas