fastapi
uvicorn[standard]
pydantic
opencv-python
pillow
pytesseract
pydub
python-dotenv
requests
librosa
numpy
soundfile
boto3
openai-whisper
protobuf
python-multipart
whisper
openai-whisper
google.generativeai
